{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .checkbox {
        font-weight: 400;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
  <div class="text-center">
      {{ form_start(form) }}
      <div class="label">
          {{ form_errors(form) }}
      </div>

      <div class="field">
          <label class="label">{{ form_label(form.title) }}</label>
          <div class="control">
              {{ form_widget(form.title) }}
          </div>
      </div>
      <div class="field">
          <label class="label">{{ form_label(form.comment) }}</label>
          <div class="control">
              {{ form_widget(form.comment) }}
          </div>
      </div>
      <div class="field">
          <label class="label">{{ form_label(form.date) }}</label>
          <div class="control">
              {{ form_widget(form.date) }}
          </div>
      </div>
      <div class="field">
          <label class="label">{{ form_label(form.timespent) }}</label>
          <div class="control">
              {{ form_widget(form.timespent) }}
          </div>
      </div>

      <div class="field" style="margin-top: 10px;">
          <p class="control">
              {{ form_widget(form.save) }}
          </p>
      </div>
      {{ form_end(form) }}
  </div>






<form method="post">



</form>
{% endblock %}
